<mat-toolbar style="width: 100%; height: 40px; display: inline-block; background-color: #26a3c5; color: white;">
    <i class="fa fa-comments-o" aria-hidden="true" style="margin: 10px 5px 0px 0px;"></i>
    <p style="font-size: 15px; display: inline-block; font-weight: 500;">Chat</p>
    <button mat-dialog-close style="border: none; display: inline-block; background-color: transparent; color: white; float: right;">
        <i class="fa fa-times" aria-hidden="true"></i>
    </button>
</mat-toolbar>

<br>

<div>
    <div class="row">
        <div class="col-4" style="">
            <div class="row object_header">
                <div class="col-4">
                    <div style="display: flex;">
                        <i class="fa fa-paper-plane" aria-hidden="true" style="margin: 5px 5px 0px 10px;"></i>
                        <p>Objects</p>
                    </div>
                </div>
                <div class="col">
                    <input type="text" class="form-control search_input" placeholder="search here">
                </div>
                <!-- <a href=""><i class="fa fa-refresh" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-trash" aria-hidden="true"></i></a> -->
            </div>
        </div>
        <div class="col" style="">
            <div style="">
                <div style="height: 300px;"></div>
                <div style="bottom: 0%;">
                    <div class="row">
                        <div class="col-10">
                            <input type="text" class="form-control send_input" placeholder="type here">
                        </div>
                        <div class="col-1">
                            <div>
                                <button class="btn btn-info send_button">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>