.header{
    padding: 5px 20px 0px 20px;
}

.heading{
    padding: 0px 10px 0px 10px;
    /* margin: 10px; */
    /* width: 100%; */
    background-color: #eee;
    margin: auto;
    height: 34px;
    font-size: 12px;
    text-align: center;
    border: solid 1px #eee;
    white-space: nowrap;
    margin: 10px;
    border: solid 1px #eee;
}

.active1{
    background-color: white;
    height: 34px;
    border: solid 1px #eee;
    border-bottom: solid 4px #1b99bd;
}

button{
    outline: none;
}

/* table {
    width: 100%;
  } */

thead td {
    font-size: 0.7em;
    padding: 2px !important;
    height: 25px;
    background-color: #eee;
    padding-left: 10px;
  }
  
tbody td{
    font-size: 0.6em;
    padding: 2px !important;
    height: 15px;
}