<app-navbar></app-navbar>
<div #map style="width:100%;height:100%"></div>
<app-sidebar></app-sidebar>
<app-bottombar></app-bottombar>

<!-- this is for maps controls -->
<button class="focus"
  style="top: 10%;" class="map-controls">
  <i class="fa fa-arrows-alt" aria-hidden="true" title="show full screen"></i>
</button>

<button
  style="top: 15%;" class="map-controls">
  <i class="fa fa-plus" aria-hidden="true" title="zoom in"></i>
</button>

<button
  style="top: 19.5%;" class="map-controls">
  <i class="fa fa-minus" aria-hidden="true" title="zoom out"></i>
</button>

<button
  style="top: 25%;" class="map-controls">
  <i class="fa fa-paper-plane" aria-hidden="true" title="fit Objects"></i>
</button>

<button
  style="top: 30%;" class="map-controls">
  <i class="fa fa-paper-plane-o" aria-hidden="true" title="objects"></i>
</button>

<button
  style="top: 34.1%;" class="map-controls">
  <img src="../../assets/placeholder.svg" alt="">
</button>

<button
  style="top: 38.1%;" class="map-controls">
  <i class="fa fa-microchip" aria-hidden="true" title="show traffic"></i>
</button>

<button
  style="top: 42.1%;" class="map-controls">
  <i class="fa fa-paper-plane-o" aria-hidden="true" title="show traffic"></i>
</button>

<button
  style="top: 46.1%;" class="map-controls">
  <i class="fa fa-road" aria-hidden="true" title="routes"></i>
</button>

<button
  style="top: 50.1%;" class="map-controls">
  <i class="fa fa-map-marker" aria-hidden="true" title="POI"></i>
</button>

<button
  style="top: 54.1%;" class="map-controls">
  <i class="fa fa-map-o" aria-hidden="true"></i>
</button>
<!-- this is for maps controls -->