/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
@import './assets/customstyle.css';
button{
    outline: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.dashboardclass .mat-dialog-container{
    margin: 0%;
    padding: 0%;
    background-color: rgb(245, 245, 245);
}

.setupclass .mat-dialog-container{
    margin: 0%;
    padding: 0%;
    /* background-color: rgb(245, 245, 245); */
    /* height: 600px; */
    /* width: 1100px; */
    max-height: 600px;
    min-height: 400px;
}

.addressClass .mat-dialog-container{
    margin: 0%;
    padding: 0%;
    /* background-color: rgb(245, 245, 245); */
    /* height: 600px; */
    width: 300px;
    height: 150px;
}

.reportsmodalclass .mat-dialog-container{
    margin: 0%;
    padding: 0%;
    /* background-color: rgb(245, 245, 245); */
    /* height: 600px; */
    width: 800px;
    /* height: 150px; */
    max-height: 600px;
    min-height: 400px;
}

.chatclass .mat-dialog-container{
    margin: 0%;
    padding: 0%;
    /* background-color: rgb(245, 245, 245); */
    /* height: 600px; */
    width: 800px;
    /* height: 150px; */
    max-height: 600px;
    min-height: 400px;
    overflow: hidden;
}

.showpointclass .mat-dialog-container{
    margin: 0%;
    padding: 0%;
    /* background-color: rgb(245, 245, 245); */
    /* height: 600px; */
    width: 300px;
    /* height: 150px; */
}